.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 417px;
    min-height: 360px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

@media (max-width: 1279px) {
    .popup__container {
        width: 344px;
        min-height: 320px;
    }
}