.main__block {
    min-height: 596px;
    position: relative;
}

.main__block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../images/image-background-quack.jpg") no-repeat 282px 252px,
    url("../../../images/image-background.svg") no-repeat center 35px;
    background-size: 120px 108px, 620px 606px;
    z-index: 2;
}

@media (min-width: 960px) and (max-width: 1279px) {
    .main__block {
        min-height: 504px;
    }

    .main__block::before {
        background: url("../../../images/image-background-quack.jpg") no-repeat 600px 194px,
        url("../../../images/image-background.svg") no-repeat 649px -25px;
        background-size: 120px 108px, 577px 577px;
    }
}

@media (min-width: 481px) and (max-width: 959px) {
    .main__block {
        min-height: 504px;
    }

    .main__block::before {
        background: url("../../../images/image-background-quack.jpg") no-repeat 300px 194px,
        url("../../../images/image-background.svg") no-repeat 349px -25px;
        background-size: 120px 108px, 577px 577px;
    }
}

@media (max-width: 480px) {
    .main__block {
        min-height: 550px;
    }

    .main__block::before {
        background: url("../../../images/image-background-quack.jpg") no-repeat 162px 359px,
        url("../../../images/image-background.svg") no-repeat 183px 234px;
        background-size: 64px 56px, 343px 343px;
    }
}