.form__input {
    width: 305px;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1F2937;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 9px 16px;
}

@media (max-width: 1279px) {
    .form__input {
        width: 280px;
    }
}