.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1248px;
    min-height: 48px;
    padding: 16px;
}

@media (max-width: 959px) {
    .header__content {
        padding-top: 5px;
    }
}