.main__button {
    width: 156px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.005em;
    cursor: pointer;
    padding: 10px 12px;
    background-color: #2581EB;
    border: 1px;
    border-radius: 8px;
    color: #FFFFFF;
    transition: background-color 0.3s;
    z-index: 3;
}

.main__button:hover {
    background-color: #439FFF;
}

.main__button:active {
    background-color: #0763CD;
}